# Mac Generated Items
.DS_Store
.vscode/

# Data Files
*.gr

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unnecessary Folders
test-sample-code
/.metadata/

# Eclipse
*/Debug/
*.cproject
*.project
*.settings